body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background: #607D8B;
  color: white;

  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
}

.header .product-name {
  font-size: 20px;
  line-height: 70px;
}

.header .profile {
  line-height: 70px;
}

.explain-view {

}

.explain-view .header-for-word {
  font-size: 15px;
}

.explain-view .word-to-explain {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.explain-view .time-remaining {
  margin-top: 20px;
}


.guess-view .word {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-page {

}

.center-page .list {
  display: flex;
  flex-direction: column;
}

table th {
  text-align: left;
}


.common-info-box {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.common-correct {
  color: green;
  font-weight: bold;
}


.options-list {
  display: flex;
}

.options-list button {
  width: 20%;
  margin: 5px;
}


/** Buttons **/

button.primary {
  padding: 5px 15px;
  border-radius: 20px;
  background: #4CAF50;
  color: white;
  border: 0;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

button.primary:hover {
  background: #81C784;
  color: white;
}

button.primary:active {
  background: #A5D6A7;
  color: black;
}

button.flat {
  padding: 5px 15px;
  border-radius: 20px;
  border: 0;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

button.flat:hover {
  background: #66BB6A;
  color: white;
}

button.flat:active {
  background: #81C784;
  color: white;
}