body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background: #607D8B;
  color: white;

  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
}

.header .product-name {
  font-size: 20px;
  line-height: 70px;
}

.header .profile {
  line-height: 70px;
}

.explain-view {

}

.explain-view .header-for-word {
  font-size: 15px;
}

.explain-view .word-to-explain {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.explain-view .time-remaining {
  margin-top: 20px;
}


.guess-view .word {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-page {

}

.center-page .list {
  display: flex;
  flex-direction: column;
}

table th {
  text-align: left;
}