# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud.

.gcloudignore
.git
.gitignore

# Node.js dependencies:
node_modules/

deploy-to-heroku.sh
deploy-to-google-app-engine.sh
docker-compose.yaml
